 # m h  dom mon dow   command
30 23 * * 6 curl -u $SCH_PROJECT: https://app.scrapinghub.com/api/run.json -d project=$SCH_PROJECT -d spider=$SCH_SPIDER_NAME
30 12 * * 7 export SCH_API=$SCH_API; python3 /var/www/map/updateData.py
